* {
    font-family: sans-serif;
}

#header {
    top: 0px;
    position: fixed;
    background-color: rgb(216, 216, 216);
    height: 80px;
    display: block;
    width: 100%;
    z-index: 9;
    text-align: center;
}

.home-sample-section {
    text-align: center;
}

.fp-controlArrow.fp-prev {
    border-color: transparent black;
    margin-left: 50px;
}

.fp-controlArrow.fp-next {
    border-color: transparent black;
    margin-right: 50px;
}

.fp-slidesNav {
    text-align: center;
}

#fp-nav ul li .fp-tooltip {
    color: black;
}